// ======== sprites =========== //

.sprites-sprite, .sprites-button, .sprites-cards, .sprites-drop, .sprites-paypal, .sprites-secure, .sprites-verify, .cards, .secure, .bootstrap-select.btn-group .dropdown-toggle .caret, .paypal, .verify, .agreement label input[type="checkbox"]:checked + span:after, .agreement .pay-pal {
  background-image: url('../img/sprites-sacad18b91f.png');
  background-repeat: no-repeat;
}

.sprites-button {
  background-position: 0 0;
  height: 40px;
  width: 134px;
}

.sprites-cards {
  background-position: 0 -40px;
  height: 32px;
  width: 126px;
}

.sprites-drop {
  background-position: 0 -72px;
  height: 10px;
  width: 17px;
}

.sprites-paypal {
  background-position: 0 -82px;
  height: 32px;
  width: 51px;
}

.sprites-secure {
  background-position: 0 -114px;
  height: 84px;
  width: 84px;
}

.sprites-verify {
  background-position: 0 -198px;
  height: 78px;
  width: 78px;
}

i {
  display: inline-block;
}

.cards {
  background-position: 0 -40px;
  height: 32px;
  width: 126px;
}

.secure {
  background-position: 0 -114px;
  height: 84px;
  width: 84px;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  background-position: 0 -72px;
  height: 10px;
  width: 17px;
  border: none;
}

.paypal {
  background-position: 0 -82px;
  height: 32px;
  width: 51px;
}

.verify {
  background-position: 0 -198px;
  height: 78px;
  width: 78px;
}

.form{
    position: relative;
    @extend .clearfix;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 26px;
    padding-bottom: 20px;
    width: 1058px;
    background: #ddedf6;
    .secure{
        position: absolute;
        top: 52px;
        right: 62px;
    }
    h1, h2{
        color:  #333;
        font-size: 20px;
        font-weight: 700;
        line-height: 18px;
    }
    h1{
        margin-top: 19px;
        margin-bottom: 21px;
        margin-left: 41px;
    }
    h2{
        font-weight: 400;
        margin: 0;
        line-height: 62px;
    }
    .header{
        @include make-row();
        .card-wrapper{
            padding: 16px 15px;
            margin-right: 13px;
            margin-bottom: 8px;
            background: #fff;
            float: right;
        }
    }
    .form-wrapper{
        @include make-xs-column( 9.77 );
    }
    label, .card{
            @include make-xs-column( 3.54 );
    }
    .input-box{
        @include make-xs-column( 8.46 );
        height: 32px;
        input{
            line-height: 32px;
        }
    }
    label[for="name"] + .input-box{
        @include make-xs-column( 6.26 );
    }
    label[for="number"] + .input-box{
        @include make-xs-column( 4.46 );
    }
    .control-label{
        padding-right: 13px!important;
        color:  #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-align: right;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);
    }
}

.btn-group.bootstrap-select, .cw-code{
    float: left!important;
    margin-right: 10px;
}

.cw-code{
    label{
        width: 96px;
    }
    input{
        width: 65px;
    }
}
.devider{
    display: block;
    position: relative;
    width: 952px;
    margin: 3px auto 35px auto;
    height: 1px;
    background: #9a9fa0;
    @extend .clearfix;
    i{
        position: absolute;
        right: 9px;
        top: 5px;
    }
}
.agreement{
    @include make-sm-column-offset( 3.54 );
    @include make-xs-column( 8.46 );
    position: relative;
    .check-box{
        padding: 0;
    }
    .paypal-banner{
        position: absolute;
        left: -179px;
        top: -21px;
        display: inline-block;
        padding: 15px 56px;
        background: #fff;
    }
    label{
        position: relative;
        padding-left: 39px;
        width: 100%;
        line-height: 27px;
        color:  #010000;
        font-size: 12px;
        font-weight: 400;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);
        a{
            color:  #0099cc;
        }
        input[type="checkbox"]{
            display: none;
        }
        input[type="checkbox"] + span{
            position: absolute;
            left: 0px;
            top: 0px;
            display: inline-block;
            border: solid 1px #999;
            background: #fff;
            width: 27px;
            height: 27px;
        }
        input[type="checkbox"]:checked + span{
            &:after{
                @extend .sprites-drop;
                content: '';
                position: absolute;
                left: 4px;
                top: 9px;
            }
        }
    }
    button{
        margin-top: 27px;
        padding: 15px 16px;
        background: #0171bb;
        border: none;
        box-shadow: none;
        outline: none;
        color:  #fffefe;
        font-size: 14px;
        font-weight: 400;
        line-height: 0px;
        text-align: center;
    }
    h3{
        color:  #333;
        font-size: 20px;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 34px;
        margin-top: 0px;
    }
    .pay-pal{
        @extend .sprites-button;
        margin-top: 20px;
        padding: 0;
        background-color: transparent;
    }
}

.field_with_errors{
    label, .input-box{
        width: 100%!important;
    }
}

.left-form{
    @include make-xs-column( 6.25 );
}

.right-form{
    @include make-xs-column( 5.74 );
}

.left-form{
    .field_with_errors{
        @include make-xs-column( 5.2 );
        &:first-child{
            @include make-xs-column( 6.8 );
        }
    }
}

.right-form{
    .field_with_errors{
        @include make-xs-column( 7.49 );
        &:first-child{
            @include make-xs-column( 4.51 );
        }
    }
}


